In [20]:
import pandas as pd
import numpy as np
import math

In [15]:
pd.__version__

'2.2.3'

In [17]:
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()
print(index)
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()
print(columns)

['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10']
['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

In [23]:
#row * col  = 10 * 100 == 100 value 

array_2d = np.arange(0,100).reshape(10,10); # a range and shaping matrix row and col 10 * 10

In [24]:
array_2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [27]:
#creating DataFrame here DataFrame is a 2D data structure with labeled axes (rows and columns) 
df = pd.DataFrame(data = array_2d, index = index, columns= columns)
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [29]:
#grabing single column from DataFrame
df['c1'] # uts a series object

r1      0
r2     10
r3     20
r4     30
r5     40
r6     50
r7     60
r8     70
r9     80
r10    90
Name: c1, dtype: int64

In [33]:
#Adding New Column to DataFrame

df['new'] = df['c1'] + df['c2'] #adding new column to DataFrame
df['new']

r1       1
r2      21
r3      41
r4      61
r5      81
r6     101
r7     121
r8     141
r9     161
r10    181
Name: new, dtype: int64

In [ ]:
df